Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.nice
config.status
config.sub
configure
depcomp
install-sh
libtool
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
missing
tests/.deps/
tests/Makefile
tests/Makefile.in
tetris/.deps/
tetris/Makefile
tetris/Makefile.in
tetris/pieces
tetris/config.xml
tetris/tetris
tests/unit_tests
